{
    "check-coverage": true,
    "statements": 80,
    "branches": 65,
    "functions": 90,
    "lines": 80,
    "include": [
        "generators/**/*.js"
    ],
    "exclude": [
        "generators/cloud_foundry/templates/**",
        "generators/clitools/templates/**",
        "generators/kubernetes/templates/**",
        "generators/knative/templates/**",
        "generators/service/templates/**",
        "manual/"
    ]
}
